doctype html
html
  head
    title Rick Roll Result
    link(rel='stylesheet', href='/styles.css')
    script.
      function copyToClipboard(text) {
        navigator.clipboard.writeText(text).then(function() {
          alert('URL copied to clipboard!');
        }, function(err) {
          alert('Failed to copy URL: ', err);
        });
      }

      document.addEventListener('DOMContentLoaded', function() {
        const copyButton = document.getElementById('copyUrlButton');
        if (copyButton) {
          copyButton.addEventListener('click', function() {
            const url = document.getElementById('shortUrl').textContent.trim();
            copyToClipboard(url);
          });
        }
      });
  body
    h1 Rick Roll URL.
    .content-container
      p#shortUrlContainer
        | Here is your rick roll url share it with your victum:
        a(href=shortUrl, id='shortUrl') #{shortUrl}
      button#copyUrlButton Copy URL
      br
      a(href="/") Back to Home
